# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage comm, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea
test.result.txt
.DS_Store
*.pid

cmd/cmcc/cmcc
cmd/cmcc/cmcc.tar
cmd/cmcc/cmcc.tar.gz

cmd/telecom/telecom
cmd/telecom/telecom.tar
cmd/telecom/telecom.tar.gz

